.w60p {
	width:60%;
}

.btn {
	margin-right: 10px;
}

ul.sortable {
	list-style: none;
	margin-bottom: 50px;
}
ul.sortable li{
	height: 32px;
	padding: 3px;
	margin-bottom: 2px;
	border: 1px solid #c9c9c9;
	text-overflow: ellipsis;
	cursor: move;
}
ul.sortable li span.p-name {
	display: inline-block; 
	width: 30%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
ul.sortable li span.t-name {
	display: inline-block; 
	width: 65%;
	color: #1c94c4;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
ul.sortable li.sortable-placeholder {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px dashed #ccc;
}


/***** calendar *****/
#calendar {
    width: 80%;
    margin: 30px auto;
}
/* 日曜日 */
.fc-sun {
    color: red;
    background-color: #fff0f0;
}
 
/* 土曜日 */
.fc-sat {
    color: blue;
    background-color: #f0f0ff;
} 